*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topnav a,
.home-content a {
 text-decoration: none;
}

.home {
  height: 100vh;
  position: relative;
}
video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}


iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* Adjust to cover the entire viewport width */
  height: 100vh; /* Adjust to cover the entire viewport height */
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.6);
}
.home-content {
  margin: 0 auto;
  position: relative;
  top: 150px;
  color: #fff;
  z-index: 3;
}
.home-content h1 {
  font-family:"Nanum Pen Script", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.1;
}
.middle-line {
  height: 90px;
  width: 5px;
  background: #fff;
  margin: 40px auto;
}
.home-content button {
  display: block;
  font-size: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: 50px auto 0;
  padding: 16px 30px;
  cursor: pointer;
}



h2{
 font-family:"Ubuntu", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1.8;
}

p{
 font-family:"Ubuntu", sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
  z-index: 5;
}



.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #49ACAB;
  color: white;
}
								/* The navbar */
.topnav {
  width: 200px;
  float: left;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



						/* The grid */



.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 margin-top: 50px;
 margin-left:50px;
margin-right:50px;

}


        /* Container for the image and overlay */
        .workcontainer {
            position: relative;
            display: inline-block;
        }

        /* Style for the image */
        .image {
            display: block;
            width: 100%; /* Make sure the image takes the full width of the container */
            height: auto; /* Maintain aspect ratio */
        }

        /* Style for the overlay */
        .textoverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
            color: white;
            text-align: center;
            padding: 20px;
            opacity: 0; /* Initially hidden */
            transition: opacity 0.3s ease;
            z-index: 1; /* Set a higher z-index */
        }

        /* Make the overlay visible on hover */
        .workcontainer:hover .textoverlay {
            opacity: 1;
        }

        /* Style for the overlay link */
        .textoverlay a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
p2{
 font-family:"Ubuntu", sans-serif;
  text-align: center;
  font-size: 50px;
  line-height: 400px;
}


.main {
  background-image: linear-gradient(0deg,#D0E2DF,#96BDB4, #49ACAB,#70D7E0);
}

.about-me {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
}

.about-me-content {
  display: flex;
  flex-direction: row-reverse; /* Set flex-direction to row for image and text */
  align-items: flex-start; /* Align items to the start of the cross-axis */
}

.about-me-text {
  flex: 1; /* Take remaining space */
}

.me {
  width: 500px; /* Adjust the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px; /* Use margin-left to create space between the image and text */
}



#Graphic-design{
height: 900px;
}

										/* Footer */
						
footer {
    display: flex;
    justify-content: space-between;
    background-color: #D0E2DF;
    height: 120px;
}

footer div {
    flex: 1;
}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #49ACAB;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
