								
body {
margin: 0;
padding: 0;
  min-height: 100vh;
 background-image: linear-gradient(0deg,#D0E2DF,#96BDB4, #49ACAB,#70D7E0);
}


h1{
  font-family:"Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-top:200px;

}
h2{
font-family:"Ubuntu", sans-serif;
  text-align: center;
  font-size: 30px;
}
p{
font-size: 25px;
text-align: center;
line-height: 1.5;
margin: 20px;
}

.Mainimg {
  margin-top: 200px; /* Adjust as needed */
  margin-right: 20px;
  overflow: hidden;
}

.Mainimg img {
  width: 804px;
  height: 700px;
  float: left;
}

.Mainimg p {
margin-top: 200px;
}

.home {
  height: calc(20vh - 20px); /* Adjust the height of the home section */
  position: relative;
  margin-bottom: 5px; /* Adjust the bottom margin as needed */
}

.home-content {
  margin: 0 auto;
  position: relative;
  top: -200px;
  color: #fff;
  z-index: 3;
}

.home-content h1 {
  font-family:"Nanum Pen Script", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.1;
}



									/* navigation bar */

.topnav {
  width: 200px;
  float: left;
position: relative;
  overflow: hidden;
  background-color: #333;
  left: -31.2%; 
  top: -59%; 
}

/* Navbar links */
.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #49ACAB;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.content {
  position: relative;
  text-align: left; 
  margin-left: 40px;
  top: 50px;
}


.content img{
  display: block; /* Ensure images are displayed as block elements */
  float: left; /* Float images to the left */
  margin-right: 20px; /* Adjust margin between images */
 margin-bottom: 50px;
}







								/* img-text */
.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 margin-top: 80px;
margin-left:100px;
}


        /* Container for the image and overlay */
        .container {
            position: relative;
            display: inline-block;
        }

        /* Style for the image */
        .image {
            display: block;
            width: 100%; /* Make sure the image takes the full width of the container */
            height: auto; /* Maintain aspect ratio */
        }

        /* Style for the overlay */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 200px;
            background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
            color: white;
            text-align: center;
            
            padding: 20px;
            opacity: 0; /* Initially hidden */
            transition: opacity 0.3s ease;
            z-index: 1; /* Set a higher z-index */
        }

        /* Make the overlay visible on hover */
        .container:hover .overlay {
            opacity: 1;
        }

        /* Style for the overlay link */
        .overlay a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

p2{
 font-family:"Nanum Pen Script", cursive;
  text-align: center;
  font-size: 25px;
  line-height: 160px;
}

									/* Audio */
   


    .center-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

  
    .portfolio-image {
      width: 320px;
      height: 320px;
    }

    /* Center the audio controls */
    audio {
      margin-top: 10px; /* Adjust margin as needed */
    }

								/* Slide Gallery */


* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.autoslide {
  display: none;
  margin: 0 auto; /* Center the images horizontally */
  width: 800px;
  height: 500px; 
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
 margin-top:35px;
 left: 20%;
 right: 10%;
 width: 60%;
 height: 20%;
text-align: center;

}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
  opacity: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 5px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) of the container */
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.typewriter-container{
font-size: 52px;
text-align: center;
  top: 50%; 

}


										/* Zoom Img */


  .zoomcontent img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: auto;
    margin: 10px;
  }
  
  .zoomcontent img:hover {opacity: 0.7;}
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-zoomcontent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: zoom 0.6s;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  @keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-zoomcontent {width: 100%;}
  }






