*.mp4 filter=lfs diff=lfs merge=lfs -text
Portfolio/Media/Race[[:space:]]home2.mp4 filter=lfs diff=lfs merge=lfs -text
Portfolio/Media/Teena[[:space:]][[:space:]]Movie.mp4 filter=lfs diff=lfs merge=lfs -text
